<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div style="border-radius: 24px; padding: 12px; background: #edeff3">
    <div style="border-radius: 24px; background-color: #ffffff">
      <!-- HEADER -->
      <table
        style="
          width: 100%;
          border: 0;
          border-collapse: collapse;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;
          background: #cce9f0;
          font-size: 16px;
          line-height: 1.5;
        "
      >
        <tr>
          <td
            style="
              padding-top: 36px;
              padding-right: 12px;
              padding-left: 12px;
              text-align: center;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icone-com-texto.png"
              style="margin: 0; width: 120px; height: auto; margin-bottom: 36px"
            />
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              text-align: center;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 12px;
                text-align: center;
                font-size: 1.2em;
              "
            >
              <b>Olá</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              padding-bottom: 36px;
              padding-right: 12px;
              padding-left: 12px;
              text-align: center;
              font-size: 1em;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 12px;
                text-align: center;
              "
            >
              {User}
            </p>
          </td>
        </tr>
      </table>
      <!-- HEADER -->
      <table
        style="
          width: 100%;
          border: 0;
          border-collapse: collapse;
          margin-bottom: 36px;
        "
      >
        <tr>
          <td
            style="
              width: 20%;
              height: 20px;
              background: #052b3f;
              padding: 0;
              margin: 0;
            "
          ></td>
          <td
            style="
              width: 80%;
              height: 20px;
              background: #214e88;
              padding: 0;
              margin: 0;
            "
          ></td>
        </tr>
      </table>
      <!--[if gte mso 9]>
      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:50px;v-text-anchor:middle;width:200px;" arcsize="0.2">
      <w:anchorlock/>
      <v:textbox inset="0,0,0,0">
      <![endif]-->
      <table
        style="
          border: 0;
          border-collapse: collapse;
          margin-left: 12px;
          margin-right: 12px;
          border-radius: 12px;
          background: #f6f7f9;
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 1.5;
        "
      >
        <tr>
          <td
            style="
              text-align: left;
              padding-top: 36px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
                font-size: 1.2em;
              "
            >
              <b>Boas vindas</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 36px;
              font-size: 1em;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
              "
            >
              O Cuidado Integrado é um sistema de saúde centrado nas pessoas e
              na jornada de cuidado, com o objetivo de acompanhar o paciente ao
              longo da vida, com foco nas suas necessidades e bem-estar.
            </p>
          </td>
        </tr>
      </table>
      <!--[if gte mso 9]>
      </v:textbox>
      </v:roundrect>
      <![endif]-->
      <table
        style="
          border: 0;
          border-collapse: collapse;
          margin-left: 12px;
          margin-right: 12px;
          border-radius: 12px;
          background: #effaff;
          margin-bottom: 24px;
          min-width: 90%;
        "
      >
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 36px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 12px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/ilustracao-time.png"
              style="margin: 0 auto; width: 200px; height: auto"
            />
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
                font-size: 1.2em;
              "
            >
              <b>Uma Equipe de Cuidado dedicada</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 36px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                text-align: center;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Médico de família, enfermeiros e ginecologista que conhecem o
              histórico do paciente e de sua família, acompanharão a jornada de
              saúde, exames e necessidades, definindo prioridades e as melhores
              formas de cuidar do bem-estar de todos.
            </p>
          </td>
        </tr>
      </table>
      <table
        style="
          border: 0;
          border-collapse: collapse;
          margin-left: 12px;
          margin-right: 12px;
          border-radius: 12px;
          background: #f5f2ef;
          margin-bottom: 24px;
          min-width: 90%;
          font-size: 16px;
          line-height: 1.5;
        "
      >
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 36px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 12px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/ilustracao-raio-x.png"
              style="margin: 0 auto; width: 200px; height: auto"
            />
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 36px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Enviamos uma mensagem no WhatsApp com um material que contém todas
              as informações sobre o benefícios, mas você também pode acessá-lo
              <a
                href="https://www.google.com.br"
                style="text-decoration: none; color: #484b52"
              >
                <b>clicando aqui!</b>
              </a>
            </p>
          </td>
        </tr>
      </table>

      <table
        style="
          min-width: 90%;
          border: 0;
          border-collapse: collapse;
          margin-top: 24px;
          margin-bottom: 48px;
          font-size: 16px;
        "
      >
        <tr>
          <td
            style="
              width: 8%;
              height: auto;
              text-align: right;
              padding-left: 12px;
              padding-right: 4px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/numero-um.png"
              style="
                margin: 0;
                margin-top: 4px;
                width: 30px;
                height: auto;
                margin-right: 4px;
              "
            />
          </td>
          <td style="margin: 0; padding-right: 12px">
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                color: #484b52;
                text-align: left;
                padding-left: 4px;
                font-size: 1em;
              "
            >
              <b
                >Baixe ou atualize o aplicativo Meu Einstein, clicando no botão
                abaixo:</b
              >
            </p>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 8%;
              height: auto;
              text-align: right;
              padding-left: 12px;
              padding-right: 4px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/tracejado-grande.png"
              style="margin: 0; width: 30px; height: 30px"
            />
          </td>
          <td
            style="
              width: 70%;
              padding: 0;
              margin: 0;
              text-align: center;
              padding-bottom: 8px;
              padding-top: 8px;
            "
          >
            <a
              href="https://play.google.com/store/apps/details?id=br.com.einstein.paciente&pcampaignid=web_share"
              target="_blank"
              style="text-decoration: none"
            >
              <img
                src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/baixar-google.png"
                alt="icone de download para dispositivos Apple (IOS)"
                style="border: none; width: 42%"
              />
            </a>
            <a
              href="https://apps.apple.com/br/app/meu-einstein/id1051445955"
              target="_blank"
              style="text-decoration: none"
            >
              <img
                src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/baixar-apple.png"
                alt="icone de download para dispositivos Google (Android)"
                style="border: none; width: 42%"
              />
            </a>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 8%;
              height: auto;
              text-align: right;
              padding-left: 12px;
              padding-right: 4px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/numero-dois.png"
              style="margin: 0; width: 30px; height: auto"
            />
          </td>

          <td style="margin: 0; padding-right: 12px">
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                color: #484b52;
                text-align: left;
                padding-left: 4px;
                font-size: 1em;
              "
            >
              <b>Escolha sua Equipe de Cuidado</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 8%;
              height: auto;
              text-align: right;
              padding-left: 12px;
              padding-right: 4px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/tracejado-pequeno.png"
              style="
                margin: 0;
                width: 30px;
                height: auto;
                margin-top: 4px;
                margin-bottom: 4px;
              "
            />
          </td>
          <td style="width: 70%; padding: 0; margin: 0"></td>
        </tr>
        <tr>
          <td
            style="
              width: 8%;
              height: auto;
              text-align: right;
              padding-left: 12px;
              padding-right: 4px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/numero-tres.png"
              style="margin: 0; width: 30px; height: auto"
            />
          </td>
          <td style="margin: 0; padding-right: 12px">
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                color: #484b52;
                text-align: left;
                padding-left: 4px;
                font-size: 1em;
              "
            >
              <b>Preencha o seu Perfil de Saúde</b>
            </p>
          </td>
        </tr>
      </table>

      <table
        style="
          border: 0;
          border-collapse: collapse;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 24px;
        "
      >
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-top: 24px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1.2em;
              "
            >
              <b>Ficou alguma dúvida?</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-left: 12px;
              padding-right: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Confira a nossa sessão de Perguntas Frequentes, disponível no
              aplicativo.
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-right: 12px;
              padding-left: 12px;
              padding-right: 12px;
              padding-bottom: 24px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Se precisar, fale com a gente! É só acionar a Coordenação de
              Cuidado pelo aplicativo, no ícone de <b>Ajuda.</b>
            </p>
          </td>
        </tr>
      </table>

      <div
        style="
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
          background-color: #044f8c;
          padding: 24px;
          text-align: center;
        "
      >
        <img
          src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-cuidado-integrado-white.png"
          height="auto"
          style="margin: 0 auto; width: 60px; height: auto"
        />
      </div>
    </div>
  </div>
</html>
