<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div style="border-radius: 24px; padding: 12px; background: #edeff3">
    <div style="border-radius: 24px; background-color: #ffffff">
      <!-- HEADER -->
      <table
        style="
          width: 100%;
          border: 0;
          border-collapse: collapse;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;
          background: #c7dff1;
          font-size: 16px;
          line-height: 1.5;
        "
      >
        <tr>
          <td
            style="
              width: 76%;
              text-align: left;
              padding-right: 12px;
              padding-left: 12px;
              padding-top: 36px;
              padding-bottom: 36px;
              text-align: left;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 12px;
                text-align: left;
                font-size: 1.2em;
                color: #052b3f;
              "
            >
              <b>Mais uma novidade do Cuidado Integrado</b>
            </p>
          </td>
          <td style="width: 24%; text-align: center; padding: 0">
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-cuidado-integrado.png"
              style="margin: 0; width: 60px; height: auto"
            />
          </td>
        </tr>
      </table>
      <!-- HEADER -->

      <table
        style="
          width: 100%;
          border: 0;
          border-collapse: collapse;
          margin-bottom: 36px;
        "
      >
        <tr>
          <td
            style="
              width: 20%;
              height: 20px;
              background: #052b3f;
              padding: 0;
              margin: 0;
            "
          ></td>
          <td
            style="
              width: 80%;
              height: 20px;
              background: #214e88;
              padding: 0;
              margin: 0;
            "
          ></td>
        </tr>
      </table>

      <table
        style="
          border: 0;
          border-collapse: collapse;
          margin-left: 12px;
          margin-right: 12px;
          border-radius: 12px;
          background: #eaf5f8;
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 1.5;
        "
      >
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 36px;
              padding-bottom: 36px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/squad-ilustration.png"
              style="margin: 0 auto; width: 200px; height: auto"
            />
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              font-size: 1.2em;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
              "
            >
              <b>Agora tem ginecologista na Equipe de Cuidado.</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 24px;
              padding-right: 12px;
              padding-left: 12px;
              font-size: 1em;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
              "
            >
              Além do Médico de família, Enfermeiro de família e equipe de
              enfermagem da Coordenação do Cuidado, um ginecologista passa a
              fazer parte da Equipe de Cuidado para complementar o
              acompanhamento da saúde da mulher em todas as fases da vida.
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
              padding-bottom: 36px;
              font-size: 1em;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-left: 8px;
                padding-right: 8px;
                color: #484b52;
              "
            >
              Para conhecer o profissional, é só consultar a Equipe de Cuidado
              no menu lateral no aplicativo Meu Einstein.
            </p>
          </td>
        </tr>
      </table>

      <table
        style="
          border: 0;
          border-collapse: collapse;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 12px;
        "
      >
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1.2em;
              "
            >
              <b>Agendamento de consulta com ginecologista</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-left: 12px;
              padding-right: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Para agendar uma consulta com este profissional, é só utilizar um
              dos canais abaixo:
            </p>
          </td>
        </tr>
      </table>

      <table
        style="
          border: 0;
          border-collapse: separate;
          border-spacing: 16px;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 24px;
          width: 100%;
        "
      >
        <tr>
          <td
            style="
              text-align: left;
              vertical-align: top;
              margin: 0;
              padding-top: 24px;
              padding-right: 12px;
              padding-left: 12px;
              background: #0c3a6f;
              border-radius: 8px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-einstein.png"
              style="margin: 0 auto; width: 35px; height: auto"
            />
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #fff;
                font-size: 1.2em;
              "
            >
              <b>Meu Einstein</b>
            </p>
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 12px;
                color: #fff;
                font-size: 1em;
              "
            >
              Aplicativo
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              vertical-align: top;
              margin: 0;
              padding-top: 24px;
              padding-right: 12px;
              padding-left: 12px;
              background: #67b1be;
              border-radius: 8px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-phone.png"
              style="margin: 0 auto; width: 35px; height: auto"
            />
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #fff;
                font-size: 1.2em;
              "
            >
              <b>Telefone</b>
            </p>
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                color: #fff;
                font-size: 1em;
              "
            >
              11 2151-0021
            </p>
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 12px;
                color: #fff;
                font-size: 1em;
              "
            >
              das 7h às 19h
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              vertical-align: top;
              margin: 0;
              padding-top: 24px;
              padding-right: 12px;
              padding-left: 12px;
              background: #3f8596;
              border-radius: 8px;
            "
          >
            <img
              src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-whatsapp.png"
              style="margin: 0 auto; width: 35px; height: auto"
            />
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #fff;
                font-size: 1.2em;
              "
            >
              <b>Whatsapp</b>
            </p>
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                color: #fff;
                font-size: 1em;
              "
            >
              11 3620-2504
            </p>
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 12px;
                color: #fff;
                font-size: 1em;
              "
            >
              das 7h às 18h
            </p>
          </td>
        </tr>
      </table>

      <table
        style="
          border: 0;
          border-collapse: collapse;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 24px;
        "
      >
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-top: 12px;
              padding-right: 12px;
              padding-left: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1.2em;
              "
            >
              <b>Ficou alguma dúvida?</b>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: left;
              margin: 0;
              padding-left: 12px;
              padding-right: 12px;
            "
          >
            <p
              style="
                font-family: 'Montserrat', Arial, sans-serif;
                margin: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                color: #484b52;
                font-size: 1em;
              "
            >
              Confira a nossa sessão de Perguntas Frequentes, disponível no
              aplicativo.
            </p>
          </td>
        </tr>
      </table>

      <div
        style="
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
          background-color: #044f8c;
          padding: 24px;
          text-align: center;
        "
      >
        <img
          src="https://pe-icons-telemedicina-dev.telemedicinaeinstein.com.br/cuidado-integrado/icon-cuidado-integrado-white.png"
          style="margin: 0 auto; width: 60px; height: auto"
        />
      </div>
    </div>
  </div>
</html>
